.container {
	position: relative;
	clip-path: polygon(
		/* 1st dot */ 1.75rem 0%,
		/* 2nd dot */ 100% 0,
		/* 3rd dot */ 100% calc(100% - 1rem),
		/* 4th dot */ calc(100% - 1.75rem) 100%,
		/* 5th dot */ 0 100%,
		/* 6th dot */ 0% 1rem
	);
	padding: 1rem 1.5rem;
	background-color: transparent;
}
.container::after,
.container::before {
	position: absolute;
	inset: 0;
	content: "";
}

.container::before {
	clip-path: polygon(
		/* 1st dot */ 1.75rem 0%,
		/* 2nd dot */ 100% 0,
		/* 3rd dot */ 100% calc(100% - 1rem),
		/* 4th dot */ calc(100% - 1.75rem) 100%,
		/* 5th dot */ 0 100%,
		/* 6th dot */ 0% 1rem
	);
	background-color: #f5d64e;
	z-index: -2;
}

.container::after {
	/* background-image: linear-gradient(
		159deg,
		#f5d64e -150.6%,
		rgba(245, 214, 78, 0) 55.93%
	); */
	/* background-image: url("../../assets//blogs-and-media-card-images//card-image-one.png"); */
	clip-path: polygon(
		/* 1st dot */ 30px calc(2px),
		/* 2nd dot */ calc(100% - 2px) 2px,
		/* 3rd dot */ calc(100% - 2px) calc(100% - 2px - 1rem),
		/* 4th dot */ calc(100% - 2px - 1.75rem) calc(100% - 2px),
		/* 5th dot */ 2px calc(100% - 2px),
		/* 6th dot */ 2px 1.1rem
	);
	background-color: #0a0a0a;
	z-index: -1;
}
